.carouselBackground {
	background-color: grey;
}
#carouselImage {
	height: 80vh;
	max-width: 100%;
}

.specialClass {
	color: white;
	top: 5%;
	bottom: 10%;
	left: 15%;
	right: 50%;
	text-align: left;
}

#mobileTitle {
	position: absolute;
	color: white;
	top: 5%;
	bottom: 10%;
	left: 10%;
	right: 50%;
	text-align: left;
	z-index: 10;
}
#mobileTitle h1{
	display: none;
	color: white;
	text-align: left;
	font-size: 5.25vw;
	line-height: .75;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}

#mobileTitle h1::first-letter{
	font-size: 9.25vw;
}

#desktopTitle h1{
	color: white;
	text-align: left;
	font-size: 3.25vw;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
}
#desktopTitle h1::first-letter{
	font-size: 6.25vw;
}

#mobileTitle h1{
	display: none;
}

@media (max-width: 992px) {
	#desktopTitle h1{
		display: none;
	}
	#mobileTitle h1{
		display: block;
	}
	#carouselImage {
		height: 60vh;
		max-width: 100%;
	}
}
@media (min-width: 576px) {
	#mobileTitle h1{
		margin-left: 25%;
		font-size: 2.25vw;
		line-height: .75;
		font-weight: 600;
		font-family: 'Roboto', sans-serif;
	}

	#mobileTitle h1::first-letter{
		font-size: 4.25vw;
	}
}
@media (min-width: 1700px) {
	#desktopTitle h1{
		font-size: 1.75vw;
	}

	#desktopTitle h1::first-letter{
		font-size: 3.5vw;
	}

	#carouselImage {
		height: 60vh;
		max-width: 100%;
	}
}
